:host {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  display: block;
}
.position-list {
  &__container {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%;
    padding-top: 80px;
    overflow-y: auto;
  }

  &__wrapper {
    padding-left: 0;
    list-style: none;
    width: 50%;
  }
}

@media (width <= 768px) {
  .position-list {
    &__container{
        padding-top: 40px;
    }
    &__wrapper {
      width: 90%;
    }
  }
}
